.news {
    margin-top: 33px;
    padding-bottom: 85px;
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    &__item {
        border: 1px solid #f1e9db;
        transition: all .3s;
        &:hover {
            border: 1px solid #b9965b;
            .news__item-title {
                color: #b9965b;
            }
        }
        &-img {
            width: calc(100% + 2px);
            margin-left: -1px;
            margin-top: -1px;
            height: 155px;
            display: block;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-content {
            padding: 0 40px 34px;
        }
        &-title {
            font-size: 16px;
            line-height: 24px;
            height: 48px;
            font-weight: 500;
            color: #663618;
            margin-top: 23px;
            text-align: center;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &-desc {
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            color: #505050;
            margin-top: 7px;
            text-align: center;
            height: 54px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        &-theme {
            margin-top: 45px;
            font-size: 12px;
            font-weight: 500;
            color: #505050;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                background: #b9965b;
                width: 100%;
                height: 1px;
                transform: translateY(-50%);
                left: 0;
                top: 50%;
            }
            span {
                padding: 0 30px;
                background-color: #fff;
                position: relative;
                z-index: 2;
            }
        }
        &-date {
            font-size: 12px;
            font-weight: 400;
            color: #505050;
            margin-top: 14px;
            text-align: center;
        }
    }
}

.news-item {
    margin-top: 40px;
    padding-bottom: 85px;
    img {
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
    }
    &__inner {
        width: 1120px;
        padding: 50px 60px;
        margin: 0 auto;
        position: relative;
    }
    &__border1,
    &__border2,
    &__border3,
    &__border4 {
        position: absolute;
        pointer-events: none;
        width: 270px;
        height: 270px;
    }
    &__border1 {
        border-top: 1px solid #c19d5f;
        border-left: 1px solid #c19d5f;
        top: 0;
        left: 0;
    }
    &__border2 {
        border-bottom: 1px solid #c19d5f;
        border-left: 1px solid #c19d5f;
        bottom: 0;
        left: 0;
    }
    &__border3 {
        border-top: 1px solid #c19d5f;
        border-right: 1px solid #c19d5f;
        top: 0;
        right: 0;
    }
    &__border4 {
        border-bottom: 1px solid #c19d5f;
        border-right: 1px solid #c19d5f;
        bottom: 0;
        right: 0;
    }
    &__link {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 0 40px;
        font-size: 14px;
        svg {
            width: 13px;
            margin-right: 17px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .news {
        &__wrap {
            gap: 15px;
        }
        &__item {
            &-img {
                height: 132px;
            }
            &-content {
                padding: 0 24px 24px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .news-item {
        &__inner {
            width: 100%;
            padding: 15px 25px;
        }
        img {
            width: 420px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 992px) {
    .news {
        margin-top: 20px;
        &__wrap {
            grid-template-columns: 1fr 1fr;
        }
        &__item {
            &-title {
                margin-top: 18px;
            }
            &-desc {
                margin-top: 11px;
            }
            &-theme {
                margin-top: 20px;
            }
            &-date {
                margin-top: 12px;
            }
        }
    }
    .news-item {
        margin-top: 20px;
        &__border1,
        &__border2,
        &__border3,
        &__border4 {
            display: none;
        }
        &__inner {
            padding: 0;
        }
        img {
            float: unset;
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
            display: block;
        }
        &__link {
            position: static;
            transform: translate(0);
            margin-top: 30px;
            padding: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .news {
        padding-bottom: 65px;
        &__item {
            &-img {
                height: unset;
                img {
                    height: unset;
                }
            }
            &-title {
                font-size: 14px;
                line-height: 18px;
                height: 36px;
            }
            &-desc {
                font-size: 10px;
                line-height: 16px;
                height: 48px;
            }
            &-theme {
                span {
                    font-size: 12px;
                }
            }
            &-date {
                font-size: 10px;
            }
        }
    }
    .news-item {
        padding-bottom: 65px;
    }
}

@media screen and (max-width: 520px) {
    .news {
        &__wrap {
            grid-template-columns: 1fr;
        }
    }
}